<html>
<head>
    <style>

    </style>
</head>
<body class="bg-gray">



<div class="container mx-auto">
    <div class="flex w-960 mx-auto">
        <div class="w-2/3">
            <div class="py-2">
                <div style="">
                   <div>
                      <div class="_1oQyIsiPHYt6nx7VOmd1sz _1RYN-7H8gYctjOQeL8p2Q7 scrollerItem _3Qkp11fjcAw9I9wtLo8frE _1qftyZQ2bhqP62lbPjoGAh  Post t3_gu0agv " id="t3_gu0agv" tabindex="-1">
                          <div class="_23h0-EcaBUorIHC-JZyh6J" style="width: 40px; border-left: 4px solid transparent;">
                              <div class="_1E9mcoVn4MYnuBQSVDt1gC" id="vote-arrows-t3_gu0agv">
                              <button aria-label="upvote" aria-pressed="false" class="voteButton" data-click-id="upvote" id="upvote-button-t3_gu0agv">
                                  <span class="_2q7IQ0BUOWeEZoeAxN555e _3SUsITjKNQ7Tp0Wi2jGxIM qW0l8Af61EP35WIG6vnGk _3edNsMs0PNfyQYofMNVhsG">
                                      <i class="icon icon-upvote _2Jxk822qXs4DaXwsN7yyHA">

                                      </i></span></button><div class="_1rZYMD_4xY3gRcSS3p8ODO" style="color: rgb(26, 26, 27);">10.6k
                              </div>
                                  <button aria-label="downvote" aria-pressed="false" class="voteButton" data-click-id="downvote">
                                      <span class="_1iKd82bq_nqObFvSH1iC_Q Q0BxYHtCOJ_rNSPJMU2Y7 _2fe-KdD2OM0ciaiux-G1EL _3yQIOwaIuF6gn8db96Gu7y">
                                          <i class="icon icon-downvote ZyxIIl4FP5gHGrJDzNpUC">

                                          </i>
                                      </span>
                                  </button>
                              </div>
                          </div>
                          <div class="_1poyrkZ7g36PawDueRza-J _11R7M_VOgKO1RJyRSRErT3 " data-click-id="background" style="background: rgb(255, 255, 255);">
                              <div class="BiNC74axuTz66dlnEgicY">
                                  <div class="cZPZhMe-UCZ8htPodMyJ5">
                                      <div class="_3AStxql1mQsrZuUIFP9xSg nU4Je7n-eSXStTBAPMYt8">
                                          <span class="_2fCzxBE1dlMh4OFc7B3Dun" style="color: rgb(120, 124, 126);">Posted by</span>
                                          <div class="_2mHuuvyV9doV3zwbZPtIPG"><a class="_2tbHP6ZydRpjI44J3syuqC _23wugcdiaj44hdfugIAlnX oQctV4n0yUb0uiHDdGnmE md-opjjpmhoiojifppkkcdabiobhakljdgm_doc" href="/user/FredW00d/" style="color: rgb(120, 124, 126);">u/FredW00d</a>
                                              <div id="UserInfoTooltip--t3_gu0agv">

                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="_2FCtq-QzlfuN-SwVMUZMM3 _3wiKjmhpIpoTE2r5KCm2o6 t3_gu0agv">
                                  <div class="y8HYJ-y_lTUHkQIc1mdCq _2INHSNB8V5eaWp4P0rY_mE">
                                      <a data-click-id="body" class="SQnoC3ObvgnGjWt90zD9Z _2INHSNB8V5eaWp4P0rY_mE md-opjjpmhoiojifppkkcdabiobhakljdgm_doc" href="/r/leagueoflegends/comments/gu0agv/honoring_was_never_so_fun/">
                                          <div class="_2SdHzo12ISmrC8H86TgSCp _3wqmjmv3tb_k-PROt7qFZe " theme="[object Object]" style="--posttitletextcolor:#222222;">
                                              <h3 class="_eYtD2XCVieq6emjKBH3m">Honoring was never so fun!</h3>
                                          </div>
                                      </a>
                                  </div>
                                  <div class="_1hLrLjnE1G_RBCNcN9MVQf">
              <img alt="" src="https://www.redditstatic.com/desktop2x/img/renderTimingPixel.png" style="width: 1px; height: 1px;" onload="(__markFirstPostVisible || function(){})();">
            </div>
      <style>
        .t3_gu0agv ._2FCtq-QzlfuN-SwVMUZMM3 {
          --postTitle-VisitedLinkColor: #9b9b9b;
          --postTitleLink-VisitedLinkColor: #9b9b9b;
        }
      </style>
                              </div>
                              <div class="STit0dLageRsa2yR4te_b">
                                  <div class="Chtkt3BCZQruf0LtmFg2c" data-click-id="text" style="max-height: 250px;">
                                      <div theme="[object Object]" class="_292iotee39Lmt0MkQZ2hPV RichTextJSON-root" style="color: rgb(26, 26, 27);">
                                          <p class="_1qeIAgB0cPwnLhDF9XSiJM">Everytime the honor screen pops up i am just filled with excitment and joy cause getting it is a 5000:1 chance. Usually the client just straight up crashes or asks me to reconnect. But not this time. Finally after that hard 15 minute game i get to honor my precious mates with whom i share this tremendous loss. I finally get to honor my 2/5/0 lux support and get some much needed rest. I write "gg guys! Such an honor to be here!" close the client and lay down on the floor</p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>